{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "{{ ecr_repo_stack_description | default('') }}",
  "Parameters" : {
    "RepositoryName" : {
      "Type" : "String"
    }
  },
  "Resources" : {
    "ECRRepo" : {
      "Type" : "AWS::ECR::Repository",
      "Properties" : {
        "RepositoryName" : { "Ref" : "RepositoryName"}
        {% if ecr_policy is defined %}
        ,
        "RepositoryPolicyText" : {{ ecr_policy|to_json }}
        {% endif %}
      }
    }
  },
  "Outputs" : {
    "RepositoryName" : {
      "Value" : { "Ref" : "RepositoryName" }
    },
    "RepositoryArn" : {
      "Value" : { "Fn::GetAtt" : [ "ECRRepo", "Arn"] }
    }
  }
}
